{% extends "AppCoder/padre.html" %}

{% block contenidoQueCambia %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Formulario - agregar profesor :</h2>
    <form action="/AppCoder/profesores/" method="POST">
        {% csrf_token %}
        <p>nombre: <input type="text" name="nombre"></p>
        <p>apellido: <input type="text" name="apellido"></p>
        <p>profesion: <input type="text" name="profesion"></p>
        <p>email: <input type="text" name="email"></p>
        <button type="submit" value="Enviar">Enviar</button>
    </form>
</body>
</html>
{% endblock %}